<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>遠古遺跡 | 關於我們</title>

    <!-- core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/icon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head>
<!--/head-->

<body>

    <header id="header">


        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img class="logo" src="images/logo.png" alt="logo">
                    </a>
                </div>

                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <!-- <li class="active"><a href="index.html">回首頁</a></li> -->
                        <!-- <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">  找尋遺跡 <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="blog-item.html">台北市</a></li>
                                <li><a href="pricing.html">新北市</a></li>
                                <li><a href="404.html">基隆市</a></li>
                                <li><a href="shortcodes.html">桃園市</a></li>
                                <li><a href="shortcodes.html">新竹縣</a></li>
                                <li><a href="shortcodes.html">新竹市</a></li>
                                <li><a href="shortcodes.html">苗栗縣</a></li>   
                            </ul>
                        </li> -->
                        <li>
                            <a href="/lookforRemains">找尋遺跡</a>
                        </li>
                        <li>
                            <a href="/activity">活動宣傳</a>
                        </li>
                        <li>
                            <a href="/peopleStory">人物故事</a>
                        </li>

                        <li>
                            <a href="/historicalSnapshots">歷史剪影</a>
                        </li>
                        <li>
                            <a href="/aboutus">關於我們</a>
                        </li>

                        <!-- <li><a href="blog.html">Blog</a></li> 
                        <li><a href="contact-us.html">Contact</a></li>                         -->
                    </ul>
                </div>
            </div>
            <!--/.container-->
        </nav>
        <!--/nav-->

    </header>
    <!--/header-->

    <section id="feature" class="transparent-bg">
        <div class="container">
            <!-- <div class="center wow fadeInDown">
                <h2>關於我們</h2>
                <p class="lead">About us</p>
            </div> -->




            <div class="get-started center  wow fadeInDown">
                <h2>關於遠古遺跡</h2>
                <p class="lead">About Web</p>
                <h3 class="text">做出遠古遺跡的目的是希望讓想了解台灣北部古蹟的社會大眾，可以藉由遠古遺跡對台灣北部所有的國定古蹟有初步的了解。遠古遺跡有著篩選的功能，也能幫助我們找到距離自己最近的古蹟，去一探古老的面紗。
                </h3>
                <h2>古慕琦兵團隊</h2>
                <p class="lead">About Group</p>
                <h3 class="text">我們是來自台北商業大學資管系的學生。取名為
                    <b>古慕琦兵</b>，慕取愛慕之意，琦則取美麗的意思，台灣的古蹟帶領了觀光產業，而古蹟的美希望能藉由我們微小的力量讓世界的人看到。</h3>

            </div>
            <!--/.get-started-->

            <!--members-->
            <div class="clients-area center wow fadeInDown">
                <h2>團隊成員</h2>
                <p class="lead">Group Members</p>
            </div>

            <div class="row">
                <div class="col-md-4 wow fadeInDown">
                    <div class="clients-comments text-center">
                        <img src="images/leader.jpg" class="img-circle" alt="">
                        <h3>負責遠古遺跡所有的資料蒐集及整理的工作，及日程進度的編排。</h3>
                        <h4>
                            <span>-陳立洋/</span> 資料蒐集者</h4>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInDown">
                    <div class="clients-comments text-center">
                        <img src="images/f2e1.jpg" class="img-circle" alt="">
                        <h3>負責網頁排版及美術圖的設計，讓網頁每個地方都帶有豐富的元素。</h3>
                        <h4>
                            <span>-黃峻彥 /</span> 網頁設計師</h4>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInDown">
                    <div class="clients-comments text-center">
                        <img src="images/f2e2.jpg" class="img-circle" alt="">
                        <h3>負責網頁排版及美術圖的設計，讓網頁每個地方都帶有豐富的元素。</h3>
                        <h4>
                            <span>-李梅湘 /</span> 前端工程師</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 wow fadeInDown">
                    <div class="clients-comments text-center">
                        <img src="images/pg1.jpg" class="img-circle" alt="">
                        <h3>負責後端的資料庫，並排除資料庫所發生的所有問題，將資料能準確呈現在網頁上。</h3>
                        <h4>
                            <span>-穆昱佳 /</span> 後端工程師</h4>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInDown">
                    <div class="clients-comments text-center">
                        <img src="images/pg2.jpg" class="img-circle" alt="">
                        <h3>負責後端的資料庫，並排除資料庫所發生的所有問題，將資料能準確呈現在網頁上。</h3>
                        <h4>
                            <span>-林姿婷 /</span> 後端工程師</h4>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInDown">
                    <div class="clients-comments text-center">
                        <img src="images/teacher.jpg" class="img-circle" alt="">
                        <h3>排解各種疑難雜症的問題，是古慕琦兵們的老師。</h3>
                        <h4>
                            <span>-林宏仁 /</span> 網頁指導者</h4>
                    </div>
                </div>
            </div>

            <!--/.members-->

        </div>
        <!--/.container-->
    </section>
    <!--/#feature-->

    <!--reference-->
    <div class="  container center wow fadeInDown">
        <h2>參考資料</h2>
        <p class="lead">Reference</p>
    </div>
    <div class="reference container wow fadeInDown">

        <p>網頁版型參考:freshdesignweb: https://www.free-css.com/assets/files/free-css-templates/preview/page204/corlate/</p>
        <p>外部連結網頁:國立中正紀念堂管理處: https://www.cksmh.gov.tw//index.php?code=list&flag=detail&ids=85&article_id=14211</p>
        <p>外部連結網頁:國立中正紀念堂管理處: https://www.cksmh.gov.tw//index.php?code=list&flag=detail&ids=85&article_id=14216</p>
        <p>外部連結網頁:新北市淡水古蹟博物館: http://www.tshs.ntpc.gov.tw/xmdoc/cont?xsmsid=0G245656224351531469&sid=0I212383506348688659</p>
        <p>外部連結網頁:新北市淡水古蹟博物館: http://www.tshs.ntpc.gov.tw/xmdoc/cont?xsmsid=0G245656224351531469&sid=0I225510516533234502</p>

        <span id="dots">...</span>
        </p>

        <div id="more">
            <p>外部連結網頁:新北市淡水古蹟博物館: http://www.tshs.ntpc.gov.tw/xmdoc/cont?xsmsid=0G245656224351531469&sid=0I225495469101626679</p>
            <p>臺北府城 資料來源:https://zh.wikipedia.org/wiki/臺北城 圖片來源:http://www.spps.tp.edu.tw/eweb/genius/presentation/92presentation/92presentation5r/tpsity-web/page_2.htm</p>
            <p>臺灣總督府鐵道部 資料來源:https://zh.wikipedia.org/wiki/臺灣總督府交通局鐵道部 圖片來源:https://www.ntm.gov.tw/content_151.html</p>
            <p>專賣局 資料來源:https://zh.wikipedia.org/wiki/專賣局 http://blog.xuite.net/liangcw/blog/13025726-原台灣總督府專賣局%28今臺灣菸酒股份有限公司%29
                圖片來源:http://blog.xuite.net/liangcw/blog/13025726-原台灣總督府專賣局%28今臺灣菸酒股份有限公司%29
            </p>
            <p>臺灣總督府博物館 資料來源:https://zh.wikipedia.org/wiki/國立臺灣博物館 圖片來源:http://forestlife.info/Onair/306.htm</p>
            <p>總統府 資料來源:https://zh.wikipedia.org/wiki/总统府 圖片來源:https://zh.wikipedia.org/wiki/總統府_(臺灣)</p>
            <p>監察院 資料來源:https://zh.wikipedia.org/wiki/監察院 </p>
            <p>行政院大廈 資料來源:https://zh.wikipedia.org/wiki/行政院中央大樓 </p>
            <p>臺北賓館 資料來源:https://zh.wikipedia.org/wiki/臺北賓館 圖片來源:http://forestlife.info/Onair/311.htm</p>
            <p>司法大廈 資料來源:https://zh.wikipedia.org/wiki/司法大廈 圖片來源:http://blog.xuite.net/liangcw/blog/12149138-司法大廈</p>
            <p>嚴家淦故居 資料來源:https://zh.wikipedia.org/wiki/嚴家淦先生故居 圖片來源:https://zh.wikipedia.org/wiki/嚴家淦先生故居</p>
            <p>蔣中正宋美齡士林官邸 資料來源:https://zh.wikipedia.org/wiki/士林官邸 </p>
            <p>中正紀念堂 資料來源:https://zh.wikipedia.org/wiki/中正紀念堂 圖片來源:https://www.cksmh.gov.tw/index.php?code=list&ids=494</p>
            <p>臺北機廠 資料來源:https://zh.wikipedia.org/wiki/臺北機廠 圖片來源:http://edi70339.pixnet.net/blog/post/106996643-台灣鐵路管理局%EF%BC%8E台北機廠～找尋《露西》</p>
            <p>淡水紅毛城 資料來源:https://zh.wikipedia.org/wiki/紅毛城 圖片來源:https://tamsui.dils.tku.edu.tw/wiki/index.php/紅毛城</p>
            <p>理學堂大書院 資料來源:https://zh.wikipedia.org/wiki/牛津學堂 圖片來源:http://blog.xuite.net/stephen_cyk/stephen/313602681-淡水真理大學牛津學堂+融合基督教教義風格於台灣傳統四合院建築</p>
            <p>滬尾砲台 資料來源:https://zh.wikipedia.org/wiki/滬尾砲台 圖片來源:https://tamsui.dils.tku.edu.tw/wiki/index.php/滬尾礮臺</p>
            <p>鄞山寺（汀州會館） 資料來源:https://zh.wikipedia.org/wiki/鄞山寺 圖片來源:https://www.taiwangods.com/html/cultural/3_0011.aspx?i=20</p>
            <p>廣福宮(三山國王廟) 資料來源:https://zh.wikipedia.org/wiki/新莊廣福宮 圖片來源:http://www.newtaipeiheritage.tw/Tag/List/廣福宮</p>
            <p>林本源園邸 資料來源:https://zh.wikipedia.org/wiki/林本源園邸 圖片來源:http://forestlife.info/Onair/348.htm</p>
            <p>二沙灣砲台 資料來源:https://zh.wikipedia.org/wiki/二沙灣砲臺 </p>
            <p>大武崙砲台 資料來源:https://zh.wikipedia.org/wiki/大武崙砲臺 </p>
            <p>槓子寮砲台 資料來源:https://zh.wikipedia.org/wiki/槓子寮砲臺 </p>
            <p>大溪李騰芳古宅 資料來源:https://zh.wikipedia.org/wiki/李騰芳古宅 </p>
            <p>金廣福公館 資料來源:https://zh.wikipedia.org/wiki/金廣福公館 圖片來源:http://blog.xuite.net/jinguangfu/main/169579891-%5B新竹北埔%5D+金廣福公館建築特色—簡樸平穩的四合院%28續篇之一%29
                &nbsp;&nbsp;https://zh.wikipedia.org/wiki/金廣福公館
            </p>
            <p>進士第（鄭用錫宅第） 資料來源:https://zh.wikipedia.org/wiki/鄭用錫宅第 圖片來源:http://kyp0809.pixnet.net/blog/post/105542978-走訪國定古蹟~竹塹進士第（鄭用錫宅第）</p>
            <p>竹塹城迎曦門 資料來源:https://zh.wikipedia.org/wiki/竹塹城 圖片來源:http://blog.xuite.net/jerrylin6611/oldtimes/18389545-風城新竹市古建築巡禮（2）---新竹迎曦門</p>
            <p>鄭用錫墓 資料來源:https://zh.wikipedia.org/wiki/鄭用錫墓 </p>
            <p>新竹車站 資料來源:https://zh.wikipedia.org/wiki/新竹車站 圖片來源:https://www.hchcc.gov.tw/ch/temp/railway/hsinchu.html &nbsp;&nbsp;
                https://www.railway.gov.tw/Hsinchu/CP.aspx?SN=14604
            </p>
            <p>新竹州廳 資料來源:https://zh.wikipedia.org/wiki/新竹州廳 圖片來源:http://blog.xuite.net/mejun0322/index/538611820-新竹州廳</p>
            <p>鄭崇和墓 資料來源:https://zh.wikipedia.org/wiki/鄭崇和墓 圖片來源:https://www.mlc.gov.tw/monuments/index-1.asp?Parser=99,6,29,27,,,2,,,,,,,1
                &nbsp; &nbsp; http://blog.xuite.net/andy8/camera/14521391-%E8%8B%97%E6%A0%97%E4%BA%8C%E7%B4%9A%E5%8F%A4%E8%B9%9F%E9%84%AD%E5%B4%87%E5%92%8C%E5%A2%93</p>



        </div>
        <button onclick="more()" id="myBtn" class="btn">Read more</button>
    </div>

    <!--/.reference-->


    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2018 國立臺北商業大學 資訊管理系
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li>
                            <a href="/lookforRemains">找尋遺跡</a>
                        </li>
                        <li>
                            <a href="/activity">活動宣傳</a>
                        </li>
                        <li>
                            <a href="/peopleStory">人物故事</a>
                        </li>

                        <li>
                            <a href="/historicalSnapshots">歷史剪影</a>
                        </li>
                        <li>
                            <a href="/aboutus">關於我們</a>
                        </li>
                        <li>
                            <a href="#">回到頂部</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/wow.min.js"></script>
</body>

</html>