<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>遠古遺跡 | 關於我們</title>
    
    <!-- core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet"> 
    
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/icon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>

    <header id="header">
        

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img class="logo" src="images/logo.png" alt="logo">
                    </a>
                </div>

                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <!-- <li class="active"><a href="index.html">回首頁</a></li> -->
                        <!-- <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">  找尋遺跡 <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="blog-item.html">台北市</a></li>
                                <li><a href="pricing.html">新北市</a></li>
                                <li><a href="404.html">基隆市</a></li>
                                <li><a href="shortcodes.html">桃園市</a></li>
                                <li><a href="shortcodes.html">新竹縣</a></li>
                                <li><a href="shortcodes.html">新竹市</a></li>
                                <li><a href="shortcodes.html">苗栗縣</a></li>   
                            </ul>
                        </li> -->
                        <li>
                            <a href="/lookforRemains">找尋遺跡</a>
                        </li>
                        <li>
                            <a href="/activity">活動宣傳</a>
                        </li>
                        <li>
                            <a href="/peopleStory">人物故事</a>
                        </li>

                        <li>
                            <a href="/historicalSnapshots">歷史剪影</a>
                        </li>
                        <li>
                            <a href="/aboutus">關於我們</a>
                        </li>

                        <!-- <li><a href="blog.html">Blog</a></li> 
                        <li><a href="contact-us.html">Contact</a></li>                         -->
                    </ul>
                </div>
            </div>
            <!--/.container-->
        </nav>
        <!--/nav-->

    </header>
    <!--/header-->

    <section id="feature" class="transparent-bg">
        <div class="container">
           <!-- <div class="center wow fadeInDown">
                <h2>關於我們</h2>
                <p class="lead">About us</p>
            </div> -->




            <div class="get-started center  wow fadeInDown">
                <h2>關於遠古遺跡</h2>
                <p class="lead">About Web</p>
                <h3 class="text">做出遠古遺跡的目的是希望讓想了解台灣北部古蹟的社會大眾，可以藉由遠古遺跡對台灣北部所有的國定古蹟有初步的了解。遠古遺跡有著篩選的功能，也能幫助我們找到距離自己最近的古蹟，去一探古老的面紗。
                 </h3>
                 <h2>古慕琦兵團隊</h2>
                 <p class="lead">About Group</p>
                 <h3 class="text">我們是來自台北商業大學資管系的學生。取名為<b>古慕琦兵</b>，慕取愛慕之意，琦則取美麗的意思，台灣的古蹟帶領了觀光產業，而古蹟的美希望能藉由我們微小的力量讓世界的人看到。</h3>
               
            </div><!--/.get-started-->

            <!--members-->
            <div class="clients-area center wow fadeInDown">
                <h2>團隊成員</h2>
                <p class="lead">Group Members</p>
            </div>

            <div class="row">
                <div class="col-md-4 wow fadeInDown">
                    <div class="clients-comments text-center">
                        <img src="images/leader.jpg" class="img-circle" alt="">
                        <h3>負責遠古遺跡所有的資料蒐集及整理的工作，及日程進度的編排。</h3>
                        <h4><span>-陳立洋/</span>  資料蒐集者</h4>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInDown">
                    <div class="clients-comments text-center">
                        <img src="images/f2e1.jpg" class="img-circle" alt="">
                        <h3>負責網頁排版及美術圖的設計，讓網頁每個地方都帶有豐富的元素。</h3>
                        <h4><span>-黃峻彥 /</span>  網頁設計師</h4>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInDown">
                    <div class="clients-comments text-center">
                        <img src="images/f2e2.jpg" class="img-circle" alt="">
                        <h3>負責網頁排版及美術圖的設計，讓網頁每個地方都帶有豐富的元素。</h3>
                        <h4><span>-李梅湘 /</span>  前端工程師</h4>
                    </div>
                </div>
           </div>

           <div class="row">
                <div class="col-md-4 wow fadeInDown">
                    <div class="clients-comments text-center">
                        <img src="images/pg1.jpg" class="img-circle" alt="">
                        <h3>負責後端的資料庫，並排除資料庫所發生的所有問題，將資料能準確呈現在網頁上。</h3>
                        <h4><span>-穆昱佳 /</span>  後端工程師</h4>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInDown">
                    <div class="clients-comments text-center">
                        <img src="images/pg2.jpg" class="img-circle" alt="">
                        <h3>負責後端的資料庫，並排除資料庫所發生的所有問題，將資料能準確呈現在網頁上。</h3>
                        <h4><span>-林姿婷 /</span>  後端工程師</h4>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInDown">
                    <div class="clients-comments text-center">
                        <img src="images/teacher.jpg" class="img-circle" alt="">
                        <h3>排解各種疑難雜症的問題，是古慕琦兵們的老師。</h3>
                        <h4><span>-林宏仁 /</span>  網頁指導者</h4>
                    </div>
                </div>
           </div>

           <!--/.members-->

        </div><!--/.container-->
    </section><!--/#feature-->


   

    <footer id="footer" class="midnight-blue">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        &copy; 2018 國立臺北商業大學 資訊管理系
                    </div>
                    <div class="col-sm-6">
                        <ul class="pull-right">
                            <li>
                                <a href="/lookforRemains">找尋遺跡</a>
                            </li>
                            <li>
                                <a href="/activity">活動宣傳</a>
                            </li>
                            <li>
                                <a href="/peopleStory">人物故事</a>
                            </li>
    
                            <li>
                                <a href="/historicalSnapshots">歷史剪影</a>
                            </li>
                            <li>
                                <a href="/aboutus">關於我們</a>
                            </li>
                            <li>
                                <a href="#">回到頂部</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/wow.min.js"></script>
</body>
</html>