<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>遠古遺跡 | 活動宣傳</title>

    <!-- core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/icon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head>
<!--/head-->

<body>

    <header id="header">

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img class="logo" src="images/logo.png" alt="logo">
                    </a>
                </div>

                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <!-- <li class="active"><a href="index.html">回首頁</a></li> -->
                        <!-- <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">  找尋遺跡 <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="blog-item.html">台北市</a></li>
                                <li><a href="pricing.html">新北市</a></li>
                                <li><a href="404.html">基隆市</a></li>
                                <li><a href="shortcodes.html">桃園市</a></li>
                                <li><a href="shortcodes.html">新竹縣</a></li>
                                <li><a href="shortcodes.html">新竹市</a></li>
                                <li><a href="shortcodes.html">苗栗縣</a></li>   
                            </ul>
                        </li> -->
                        <li>
                            <a href="/lookforRemains">找尋遺跡</a>
                        </li>
                        <li>
                            <a href="/activity">活動宣傳</a>
                        </li>
                        <li>
                            <a href="/peopleStory">人物故事</a>
                        </li>

                        <li>
                            <a href="/historicalSnapshots">歷史剪影</a>
                        </li>
                        <li>
                            <a href="/aboutus">關於我們</a>
                        </li>

                        <!-- <li><a href="blog.html">Blog</a></li> 
                        <li><a href="contact-us.html">Contact</a></li>                         -->
                    </ul>
                </div>
            </div>
            <!--/.container-->
        </nav>
        <!--/nav-->

    </header>
    <!--/header-->

    <section id="blog" class="container">
        <div class="center">
            <h2>活動宣傳</h2>
            <p class="lead">Activity Promotion</p>
        </div>

        <div class="blog">
            <div class="row">

                <div class="col-md-12 gary">
                    <div class="blog-item">
                        <div class="row ">
                            <div class="col-xs-12 col-sm-4">
                                <a href="#">
                                    <img class="img-responsive img-blog" src="images/activity/cloud_sea.jpg" width="100%" alt="" />
                                </a>
                            </div>
                            <div class="col-xs-12 col-sm-8 text-justify">
                                <h2>
                                    <a href="https://www.cksmh.gov.tw//index.php?code=list&flag=detail&ids=85&article_id=14211" target="_blank">山嵐雲海一陳金海彩墨畫展</a>
                                </h2>
                                <h3>該展以「山嵐雲海」為主題，除以彩墨山水為主之外，同時也展出氣勢磅礴的大瀑布、牡丹，以及新作梯田風光。陳金海表示：花不能歌，鳥代也，山不能飛，雲飛也；不論是流雲、雲瀑、山嵐都能使山水增色不少，形成氤氳氛圍，呈現山水靈動的生命力。</h3>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-4 blog-content">
                                <div class="entry-meta">
                                    <span>
                                        <i class="fa fa-map-marker"></i> 中正紀念堂四展廳(台北市中正區中山南路21號) </span>
                                    <span>
                                        <i class="fa fa-calendar"></i> 2018/08/16(四) ~ 2018/08/27(一) </span>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-8 text-right">
                                <a class="btn btn-primary readmore" href="https://www.cksmh.gov.tw//index.php?code=list&flag=detail&ids=85&article_id=14211"
                                    target="_blank"> Read More
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--/.blog-item-->
                </div>

                <div class="col-md-12 white">
                    <div class="blog-item">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4">
                                <a href="#">
                                    <img class="img-responsive img-blog" src="images/activity/saitama_light.jpg" width="100%" alt="" />
                                </a>
                            </div>
                            <div class="col-xs-12 col-sm-8 text-justify">
                                <h2>
                                    <a href="https://www.cksmh.gov.tw//index.php?code=list&flag=detail&ids=85&article_id=14216" target="_blank">璞玉發光－107年全國藝術行銷活動得獎作品展</a>
                                </h2>
                                <h3>文化部所屬國立新竹生活美學館自99年開始辦理「璞玉發光-藝術行銷活動」，徵件類別分為國畫及西畫，最初僅於桃竹苗4縣市收件，102年起擴及到全國徵件，以繪畫競賽形式選出優秀畫作。今年共徵得328件作品，初選出101件入圍作品，決選再從中精選57件得獎作品，金獎最高可得10萬元獎金。其中佳作以上40件得獎作品將巡迴展覽，首站於8月30日至9月10日在中正紀念堂開展，並於9月8日下午2時於演藝廳舉辦頒獎典禮。</h3>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-4 blog-content">
                                <div class="entry-meta">
                                    <span>
                                        <i class="fa fa-map-marker"></i> 中正紀念堂四展廳(台北市中正區中山南路21號) </span>
                                    <span>
                                        <i class="fa fa-calendar"></i> 2018/08/30(四) ~ 2018/09/10(一) </span>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-8 text-right">
                                <a class="btn btn-primary readmore" href="http://www.tshs.ntpc.gov.tw/xmdoc/cont?xsmsid=0G245656224351531469&sid=0I212383506348688659"
                                    target="_blank"> Read More
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--/.blog-item-->
                </div>

                <div class="col-md-12 gary">
                    <div class="blog-item">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4">
                                <a href="#">
                                    <img class="img-responsive img-blog" src="images/activity/sea_sound.jpg" width="100%" alt="" />
                                </a>
                            </div>
                            <div class="col-xs-12 col-sm-8 text-justify">
                                <h2>
                                    <a href="http://www.tshs.ntpc.gov.tw/xmdoc/cont?xsmsid=0G245656224351531469&sid=0I212383506348688659" target="_blank">海聲。海生─小海光x海關碼頭回顧特展</a>
                                </h2>
                                <h3>本次展覽從史料物件和口述訪談拼貼出的「小海光」記憶出發，帶領觀眾認識小海光們從入學、修練，到最終畢業的一段京劇學習之旅。現場將展示小海光當年生活、練功的照片，海光劇校第一期生沈海蓉收藏的練功刀、槍、練功鞋，海光國劇隊使用過的戲服，以及大小海光公演的節目單等珍貴史料文物，同時提供京劇服裝及道具，讓參訪的朋友體驗昔日小海光們學習京劇的日常。</h3>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-4 blog-content">
                                <div class="entry-meta">
                                    <span>
                                        <i class="fa fa-map-marker"></i> 淡水海關碼頭園區B棟倉庫(新北市淡水區中正路259號) </span>
                                    <span>
                                        <i class="fa fa-calendar"></i> 2018/07/27(五) ~ 2018/09/30(日) </span>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-8 text-right">
                                <a class="btn btn-primary readmore" href="http://www.tshs.ntpc.gov.tw/xmdoc/cont?xsmsid=0G245656224351531469&sid=0I212383506348688659"
                                    target="_blank"> Read More
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--/.blog-item-->
                </div>

                <div class="col-md-12 white">
                    <div class="blog-item">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4">
                                <a href="#">
                                    <img class="img-responsive img-blog" src="images/activity/fairy_tale.jpg" width="100%" alt="" />
                                </a>
                            </div>
                            <div class="col-xs-12 col-sm-8 text-justify">
                                <h2>
                                    <a href="http://www.tshs.ntpc.gov.tw/xmdoc/cont?xsmsid=0G245656224351531469&sid=0I225495469101626679" target="_blank">童畫與童話─甜甜圈畫畫屋聯展</a>
                                </h2>
                                <h3>本展集結畫室裡27位未來的小小藝術家，他們從三歲到十二歲，共計60餘幅的創意畫作，每幅作品都是孩子心中發想出的一個個精彩故事。或許和您想像的不同，然而透過他們的手、他們的心、他們的想像，我們看見了美好的未來。</h3>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-4 blog-content">
                                <div class="entry-meta">
                                    <span>
                                        <i class="fa fa-map-marker"></i> 得忌利士洋行前棟(新北市淡水區中正路316號) </span>
                                    <span>
                                        <i class="fa fa-calendar"></i> 2018/08/03(五) ~ 2018/10/14(日) </span>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-8 text-right">
                                <a class="btn btn-primary readmore" href="http://www.tshs.ntpc.gov.tw/xmdoc/cont?xsmsid=0G245656224351531469&sid=0I225495469101626679"
                                    target="_blank"> Read More
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--/.blog-item-->
                </div>

                <div class="col-md-12 gary">
                    <div class="blog-item">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4">
                                <a href="#">
                                    <img class="img-responsive img-blog" src="images/activity/black_tea.jpg" width="100%" alt="" />
                                </a>
                            </div>
                            <div class="col-xs-12 col-sm-8 text-justify">
                                <h2>
                                    <a href="http://www.tshs.ntpc.gov.tw/xmdoc/cont?xsmsid=0G245656224351531469&sid=0I225510516533234502" target="_blank">紅茶八分糖─共茗書畫社聯展</a>
                                </h2>
                                <h3>本次展覽主題「紅茶八分糖」，發想自鮮紅的淡水夕陽與八位創作者共舞，意旨將淡水的色彩與創作者交織出一場甜蜜的藝術饗宴，預計將展出作品40餘幅，匯集這一年來，大家畢業後的新作，在人生的交叉路口所碰撞出的火花，邀約民眾來淡水漁人碼頭跟他們一起品茗、賞畫、看夕陽。</h3>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-4 blog-content">
                                <div class="entry-meta">
                                    <span>
                                        <i class="fa fa-map-marker"></i> 滬水一方藝文空間(新北市淡水區觀海路91號5樓) </span>
                                    <span>
                                        <i class="fa fa-calendar"></i> 2018/08/10(五) ~ 2018/10/21(日) </span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-8 text-right">
                                <a class="btn btn-primary readmore" href="http://www.tshs.ntpc.gov.tw/xmdoc/cont?xsmsid=0G245656224351531469&sid=0I225510516533234502"
                                    target="_blank">Read More
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--/.blog-item-->
                </div>

                <!-- <ul class="pagination pagination-lg">
                    <li><a href="#"><i class="fa fa-long-arrow-left"></i>Previous Page</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">Next Page<i class="fa fa-long-arrow-right"></i></a></li>
                </ul> -->
                <!--/.pagination-->

            </div>
            <!--/.row-->
        </div>
    </section>
    <!--/#blog-->

    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2018 國立臺北商業大學 資訊管理系
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li>
                            <a href="/lookforRemains">找尋遺跡</a>
                        </li>
                        <li>
                            <a href="/activity">活動宣傳</a>
                        </li>
                        <li>
                            <a href="/peopleStory">人物故事</a>
                        </li>

                        <li>
                            <a href="/historicalSnapshots">歷史剪影</a>
                        </li>
                        <li>
                            <a href="/aboutus">關於我們</a>
                        </li>
                        <li>
                            <a href="#">回到頂部</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/wow.min.js"></script>
</body>

</html>