<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>人物故事 | 蔣中正</title>

    <!-- core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/icon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head>
<!--/head-->

<body>

    <header id="header">

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <img class="logo" src="images/logo.png" alt="logo">
                    </a>
                </div>

                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <!-- <li class="active"><a href="index.html">回首頁</a></li> -->
                        <!-- <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">  找尋遺跡 <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="blog-item.html">台北市</a></li>
                                <li><a href="pricing.html">新北市</a></li>
                                <li><a href="404.html">基隆市</a></li>
                                <li><a href="shortcodes.html">桃園市</a></li>
                                <li><a href="shortcodes.html">新竹縣</a></li>
                                <li><a href="shortcodes.html">新竹市</a></li>
                                <li><a href="shortcodes.html">苗栗縣</a></li>   
                            </ul>
                        </li> -->
                        <li>
                                <a href="/lookforRemains">找尋遺跡</a>
                            </li>
                            <li>
                                <a href="/activity">活動宣傳</a>
                            </li>
                            <li>
                                <a href="/peopleStory">人物故事</a>
                            </li>
    
                            <li>
                                <a href="/historicalSnapshots">歷史剪影</a>
                            </li>
                            <li>
                                <a href="/aboutus">關於我們</a>
                            </li>

                        <!-- <li><a href="blog.html">Blog</a></li> 
                        <li><a href="contact-us.html">Contact</a></li>                         -->
                    </ul>
                </div>
            </div>
            <!--/.container-->
        </nav>
        <!--/nav-->

    </header>
    <!--/header-->

    <section id="blog" class="container">
        <div class="center">
            <h2>人物故事</h2>
            <p class="lead">People Story</p>
        </div>

        <ul class="portfolio-filter text-center people">
            <a class="btn btn-default " href="/peopleStory">鄭成功</a>
            <a class="btn btn-default" href="/yanJiayu">嚴家淦</a>
            <a class="btn btn-default active" href="/jiangZhongzheng">蔣中正</a>
            <a class="btn btn-default" href="/zhengYongxi">鄭用錫</a>

        </ul>
        <!--/#portfolio-filter-->

        <div class="blog">
            <div class="row">
                <div class="col-md-12">
                    <div class="blog-item">
                        <div class="row">
                            <div class="col-xs-12 col-sm-8 blog-content">
                                <h3>人物介紹</h3>
                                <p>
                                    蔣中正，原名瑞元，譜名周泰，學名志清，後改名中正，字介石，浙江奉化人。中國大陸多稱其字介石。中國政治人物，軍事家。蔣任中華民國自行憲起的第一至第五任總統，並連續當選中國國民黨總裁。此外歷任黃埔軍校校長、國民革命軍總司令、國民政府主席、國民政府軍事委員會委員長、行政院院長、中華民國特級上將，及二次大戰時期盟軍中國戰區最高統帥等職。蔣中正是繼孫中山後，中華民國及中國國民黨歷史上的重要領導者之一。
                                </p>
                                <p>
                                    蔣早年於保定全國陸軍速成學堂第一期肄業，考送日本振武學校，高田野炮兵第十三團士官候補生；1907年加入中國同盟會，1930年10月受基督新教洗禮。他參加孫中山中華革命黨，參與創建黃埔軍校，逐步成為中國國民黨核心人物。1926年7月國民革命軍誓師北伐，蔣任總司令，推翻北洋政府，名義上統一全中國，建設黃金十年。蔣統率軍民抗擊日本軍國主義，最終中國抗日戰爭勝利，中華民國成為五大聯合國安全理事會常任理事國之一；戰後主持制定中華民國憲法，實行憲政，成立國民大會並當選為第一任行憲後中華民國總統。在第二次國共內戰中，中共解放軍佔領中國大陸，蔣和中華民國政府軍民撤退至臺澎金馬。在臺期間，蔣實施臺灣省戒嚴令，繼續連任總統並實行中國國民黨一黨執政，且一直主張反攻大陸、反共復國，直至1975年去世。
                                </p>
                                <p>
                                    蔣中正是20世紀重要的世界領袖，他統領第二次世界大戰的中國戰場以及冷戰中的兩岸國共對抗，影響中國近代史和東亞史發展。
                                </p>
                            </div>
                            <div class="col-xs-12 col-sm-4 blog-content">
                                <a href="#">
                                    <img class="img-responsive img-blog" src="images/people/JiangZhongzheng.png" width="100%" alt="" />
                                </a>
                                <div class="entry-meta">
                                    <span id="publish_date">蔣中正</span>
                                    <!-- <span>
                                        <i class="fa fa-user"></i> John Doe </span>
                                    <span>
                                        <i class="fa fa-comment"></i> 2 Comments </span>
                                    <span>
                                        <i class="fa fa-heart"></i> 56 Likes </span> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/.blog-item-->

                    <!-- <ul class="pagination pagination-lg">
                        <li><a href="#"><i class="fa fa-long-arrow-left"></i>Previous Page</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">Next Page<i class="fa fa-long-arrow-right"></i></a></li>
                    </ul> -->
                    <!--/.pagination-->
                </div>
                <!--/.col-md-8-->

            </div>
            <!--/.row-->
        </div>
    </section>
    <!--/#blog-->

    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2018 國立臺北商業大學 資訊管理系
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                            <li>
                                    <a href="/lookforRemains">找尋遺跡</a>
                                </li>
                                <li>
                                    <a href="/activity">活動宣傳</a>
                                </li>
                                <li>
                                    <a href="/peopleStory">人物故事</a>
                                </li>
        
                                <li>
                                    <a href="/historicalSnapshots">歷史剪影</a>
                                </li>
                                <li>
                                    <a href="/aboutus">關於我們</a>
                                </li>
                        <li>
                            <a href="#">回到頂部</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!--/#footer-->

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/wow.min.js"></script>
</body>

</html>