<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>遠古遺跡 | 找尋遺跡</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/icon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head>
<!--/head-->

<body>

    <header id="header">


        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img class="logo" src="images/logo.png" alt="logo">
                    </a>
                </div>

                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <!-- <li class="active"><a href="index.html">回首頁</a></li> -->
                        <!-- <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">  找尋遺跡 <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="blog-item.html">台北市</a></li>
                                <li><a href="pricing.html">新北市</a></li>
                                <li><a href="404.html">基隆市</a></li>
                                <li><a href="shortcodes.html">桃園市</a></li>
                                <li><a href="shortcodes.html">新竹縣</a></li>
                                <li><a href="shortcodes.html">新竹市</a></li>
                                <li><a href="shortcodes.html">苗栗縣</a></li>   
                            </ul>
                        </li> -->
                        <li>
                            <a href="/lookforRemains">找尋遺跡</a>
                        </li>
                        <li>
                            <a href="/activity">活動宣傳</a>
                        </li>
                        <li>
                            <a href="/peopleStory">人物故事</a>
                        </li>

                        <li>
                            <a href="/historicalSnapshots">歷史剪影</a>
                        </li>
                        <li>
                            <a href="/aboutus">關於我們</a>
                        </li>

                        <!-- <li><a href="blog.html">Blog</a></li> 
                        <li><a href="contact-us.html">Contact</a></li>                         -->
                    </ul>
                </div>
            </div>
            <!--/.container-->
        </nav>
        <!--/nav-->

    </header>
    <!--/header-->
    <section id="portfolio">
        <div class="container">
            <div class="center">
                <h2>找尋遺跡</h2>
                <p class="lead">Look For Remains</p>
            </div>


            <!--search-->


            <!-- <h2>地區篩選</h2> -->
            <div class="row search">
                <div class="col-sm-12 container county center">
                    <ul class="portfolio-filter text-center city">
                        <li>
                            <a class="btn btn-warning btn-lg" onclick="myFunction1(1)" id="first">台北市</a>
                        </li>
                        <li>
                            <a class="btn btn-warning btn-lg" onclick="myFunction2(2)">新北市</a>
                        </li>
                        <li>
                            <a class="btn btn-warning btn-lg" onclick="myFunction3(3)">基隆市</a>
                        </li>
                        <li>
                            <a class="btn btn-warning btn-lg" onclick="myFunction4(4)">桃園市</a>
                        </li>
                        <li>
                            <a class="btn btn-warning btn-lg" onclick="myFunction5(5)">新竹縣</a>
                        </li>
                        <li>
                            <a class="btn btn-warning btn-lg" onclick="myFunction6(6)">新竹市</a>
                        </li>
                        <li>
                            <a class="btn btn-warning btn-lg" onclick="myFunction7(7)">苗栗縣</a>
                        </li>

                    </ul>
                    <!--/#portfolio-filter-->
                    <!--/#portfolio-filter-->
                    <!-- <button class="btn btn-warning btn-lg" onclick="myFunction1()">台北市</button>
                    <button class="btn btn-warning btn-lg" onclick="myFunction2()">新北市</button>
                    <button class="btn btn-warning btn-lg" onclick="myFunction3()">基隆市</button>
                    <button class="btn btn-warning btn-lg" onclick="myFunction4()">桃園市</button>
                    <button class="btn btn-warning btn-lg" onclick="myFunction5()">新竹縣</button>
                    <button class="btn btn-warning btn-lg" onclick="myFunction6()">新竹市</button>
                    <button class="btn btn-warning btn-lg" onclick="myFunction7()">苗栗縣</button> -->
                </div>
                <br>
                <br>
                <div class="col-sm-12 container remains" id="myDIV0" style="display: block;">
                    <div class="row">
                        <div class="portfolio-items ">

                            <!--/.portfolio-item-->

                            <!--/.portfolio-item-->

                        </div>
                    </div>
                </div>
                <div class="col-sm-12 container " id="myDIV1" style="display: none;">
                    <div class="row">
                        <div class="portfolio-items ">

                            <!--/.portfolio-item-->
                        </div>
                    </div>
                    <!-- <a href="index.html">
                        <button class="btn btn-warning-small">臺北府城</button>
                    </a>
                    <a href="#">
                        <button class="btn btn-warning-small">台灣總督府鐵道部</button>
                    </a>
                    <a href="#">
                        <button class="btn btn-warning-small">專賣局</button>
                    </a>
                    <a href="#">
                        <button class="btn btn-warning-small">臺灣總督府博物館</button>
                    </a>
                    <a href="#">
                        <button class="btn btn-warning-small">總統府</button>
                    </a>
                    <a href="#">
                        <button class="btn btn-warning-small">監察院</button>
                    </a>
                    <a href="#">
                        <button class="btn btn-warning-small">行政院大廈</button>
                    </a>
                    <a href="#">
                        <button class="btn btn-warning-small">臺北賓館</button>
                    </a>
                    <a href="#">
                        <button class="btn btn-warning-small">司法大廈</button>
                    </a>
                    <a href="#">
                        <button class="btn btn-warning-small">嚴家淦故居</button>
                    </a>
                    <a href="#">
                        <button class="btn btn-warning-small">蔣中正宋美齡士林官邸</button>
                    </a>
                    <a href="#">
                        <button class="btn btn-warning-small">中正紀念堂</button>
                    </a>
                    <a href="#">
                        <button class="btn btn-warning-small">臺北機廠</button>
                    </a> -->
                </div>

                <div class="col-sm-12 container remains" id="myDIV2" style="display: none;">
                    <div class="row">
                        <div class="portfolio-items ">

                            <!--/.portfolio-item-->

                            <!--/.portfolio-item-->

                        </div>
                    </div>
                </div>

                <div class="col-sm-12 container remains" id="myDIV3" style="display: none;">
                    <div class="row">
                        <div class="portfolio-items ">




                        </div>
                    </div>
                </div>

                <div class="col-sm-12 container remains" id="myDIV4" style="display: none;">
                    <div class="row">
                        <div class="portfolio-items ">

                            <!--/.portfolio-item-->



                        </div>
                    </div>

                </div>
                <div class="col-sm-12 container remains" id="myDIV5" style="display: none;">
                    <div class="row">
                        <div class="portfolio-items ">

                        </div>
                    </div>

                </div>

                <div class="col-sm-12 container remains" id="myDIV6" style="display: none;">
                    <div class="row">
                        <div class="portfolio-items ">

                        </div>
                    </div>

                </div>

                <div class="center col-sm-12  container remains" id="myDIV7" style="display: none;">
                    <div class="center row">


                    </div>

                </div>


            </div>

            <!--/.search-->

            <!--samplesamplesamplesamplesamplesamplesamplesample-->

            <!-- <ul class="portfolio-filter text-center">
                <li>
                    <a class="btn btn-default active" href="#" data-filter="*">台北市</a>
                </li>
                <li>
                    <a class="btn btn-default" href="#" data-filter=".bootstrap">新北市</a>
                </li>
                <li>
                    <a class="btn btn-default" href="#" data-filter=".html">基隆市</a>
                </li>
                <li>
                    <a class="btn btn-default" href="#" data-filter=".wordpress">桃園市</a>
                </li>
                <li>
                    <a class="btn btn-default" href="#" data-filter=".wordpress">新竹縣</a>
                </li>
                <li>
                    <a class="btn btn-default" href="#" data-filter=".wordpress">新竹市</a>
                </li>
                <li>
                    <a class="btn btn-default" href="#" data-filter=".wordpress">苗栗縣</a>
                </li>
            </ul> -->
            <!--/#portfolio-filter-->

            <!-- <div class="row">
                <div class="portfolio-items">
                    <div class="portfolio-item apps col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="images/portfolio/recent/item1.png" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3>
                                        <a href="#">Business theme</a>
                                    </h3>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                    <a class="preview" href="images/portfolio/full/item1.png" rel="prettyPhoto">
                                        <i class="fa fa-eye"></i> View</a>
                                </div>
                            </div>
                        </div>
                    </div> -->
            <!--/.portfolio-item-->

            <!-- <div class="portfolio-item joomla bootstrap col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="images/portfolio/recent/item2.png" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3>
                                        <a href="#">Business theme</a>
                                    </h3>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                    <a class="preview" href="images/portfolio/full/item2.png" rel="prettyPhoto">
                                        <i class="fa fa-eye"></i> View</a>
                                </div>
                            </div>
                        </div>
                    </div> -->
            <!--/.portfolio-item-->

            <!-- <div class="portfolio-item bootstrap wordpress col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="images/portfolio/recent/item3.png" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3>
                                        <a href="#">Business theme</a>
                                    </h3>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                    <a class="preview" href="images/portfolio/full/item3.png" rel="prettyPhoto">
                                        <i class="fa fa-eye"></i> View</a>
                                </div>
                            </div>
                        </div>
                    </div> -->
            <!--/.portfolio-item-->

            <!-- <div class="portfolio-item joomla wordpress apps col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="images/portfolio/recent/item4.png" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3>
                                        <a href="#">Business theme</a>
                                    </h3>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                    <a class="preview" href="images/portfolio/full/item4.png" rel="prettyPhoto">
                                        <i class="fa fa-eye"></i> View</a>
                                </div>
                            </div>
                        </div>
                    </div> -->
            <!--/.portfolio-item-->

            <!-- <div class="portfolio-item joomla html bootstrap col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="images/portfolio/recent/item5.png" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3>
                                        <a href="#">Business theme</a>
                                    </h3>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                    <a class="preview" href="images/portfolio/full/item5.png" rel="prettyPhoto">
                                        <i class="fa fa-eye"></i> View</a>
                                </div>
                            </div>
                        </div>
                    </div> -->
            <!--/.portfolio-item-->

            <!-- <div class="portfolio-item wordpress html apps col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="images/portfolio/recent/item6.png" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3>
                                        <a href="#">Business theme</a>
                                    </h3>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                    <a class="preview" href="images/portfolio/full/item6.png" rel="prettyPhoto">
                                        <i class="fa fa-eye"></i> View</a>
                                </div>
                            </div>
                        </div>
                    </div> -->
            <!--/.portfolio-item-->

            <!-- <div class="portfolio-item wordpress html col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="images/portfolio/recent/item7.png" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3>
                                        <a href="#">Business theme</a>
                                    </h3>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                    <a class="preview" href="images/portfolio/full/item7.png" rel="prettyPhoto">
                                        <i class="fa fa-eye"></i> View</a>
                                </div>
                            </div>
                        </div>
                    </div> -->
            <!--/.portfolio-item-->

            <!-- <div class="portfolio-item wordpress html bootstrap col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="images/portfolio/recent/item8.png" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3>
                                        <a href="#">Business theme</a>
                                    </h3>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                    <a class="preview" href="images/portfolio/full/item8.png" rel="prettyPhoto">
                                        <i class="fa fa-eye"></i> View</a>
                                </div>
                            </div>
                        </div>
                    </div> -->
            <!--/.portfolio-item-->
        </div>
        </div>
        </div>
    </section>
    <!--/#portfolio-item-->


    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2018 國立臺北商業大學 資訊管理系
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li>
                            <a href="/lookforRemains">找尋遺跡</a>
                        </li>
                        <li>
                            <a href="/activity">活動宣傳</a>
                        </li>
                        <li>
                            <a href="/peopleStory">人物故事</a>
                        </li>

                        <li>
                            <a href="/historicalSnapshots">歷史剪影</a>
                        </li>
                        <li>
                            <a href="/aboutus">關於我們</a>
                        </li>
                        <li>
                            <a href="#">回到頂部</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!--/#footer-->

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/wow.min.js"></script>
    <script>

$(function () {
    $.ajax({
        type: 'POST',
        dataType: 'json',
        url: "/lookforRemains/alltraces",
        success: function (data) {
            $("#myDIV0").empty();
           
            var html = "";
            for (var i = 0; i < data.traces.length; i++) {
                trace = data.traces[i];
                console.log(trace.trace_name);
                html += '<div class="portfolio-item joomla bootstrap col-xs-12 col-sm-4 col-md-3 remains">';
                html += '<div class="recent-work-wrap">';
                html += '<img class="img-responsive" src="';
                html += 'images/remains/small/';
                html += trace.trace_name + "2.jpg";
                html += '" alt="">';
                html += '<a href="javascript: return false;" onclick="showRemains(';
                html += trace.trace_no;
                html += ')">';

                html += trace.trace_name;

                html += '</a>';
                html += '</div>';
                html += '</div>';

            }
            $("#myDIV0").append(html);
           

        }
    });
});
        function myFunction1(city) {
            searchTrace(city, "myDIV1");




        }
        function myFunction2(city) {
            searchTrace(city, "myDIV2");
            // var div2 = document.getElementById("myDIV2");
            // if (div2.style.display === "none") {
            //     div2.style.display = "block";
            // } else {
            //     div2.style.display = "none";
            // }
            // var x;
            // for (var i = 1; i <= 7; i++) {
            //     if (i == 2) {
            //         continue;
            //     } else {
            //         x = document.getElementById("myDIV" + i);
            //         x.style.display = "none";
            //     }
            // }

        }


        function myFunction3(city) {
            searchTrace(city, "myDIV3");
            // var div3 = document.getElementById("myDIV3");
            // if (div3.style.display === "none") {
            //     div3.style.display = "block";
            // } else {
            //     div3.style.display = "none";
            // }
            // var x;
            // for (var i = 1; i <= 7; i++) {
            //     if (i == 3) {
            //         continue;
            //     } else {
            //         x = document.getElementById("myDIV" + i);
            //         x.style.display = "none";
            //     }
            // }
        }


        function myFunction4(city) {
            searchTrace(city, "myDIV4");
            // var div4 = document.getElementById("myDIV4");
            // if (div4.style.display === "none") {
            //     div4.style.display = "block";
            // } else {
            //     div4.style.display = "none";
            // }
            // var x;
            // for (var i = 1; i <= 7; i++) {
            //     if (i == 4) {
            //         continue;
            //     } else {
            //         x = document.getElementById("myDIV" + i);
            //         x.style.display = "none";
            //     }
            // }
        }
        function myFunction5(city) {
            searchTrace(city, "myDIV5");
            // var div4 = document.getElementById("myDIV5");
            // if (div4.style.display === "none") {
            //     div4.style.display = "block";
            // } else {
            //     div4.style.display = "none";
            // }
            // var x;
            // for (var i = 1; i <= 7; i++) {
            //     if (i == 5) {
            //         continue;
            //     } else {
            //         x = document.getElementById("myDIV" + i);
            //         x.style.display = "none";
            //     }
            // }
        }
        function myFunction6(city) {
            searchTrace(city, "myDIV6");
            // var div4 = document.getElementById("myDIV6");
            // if (div4.style.display === "none") {
            //     div4.style.display = "block";
            // } else {
            //     div4.style.display = "none";
            // }
            // var x;
            // for (var i = 1; i <= 7; i++) {
            //     if (i == 6) {
            //         continue;
            //     } else {
            //         x = document.getElementById("myDIV" + i);
            //         x.style.display = "none";
            //     }
            // }
        }
        function myFunction7(city) {
            searchTrace(city, "myDIV7");
            // var div4 = document.getElementById("myDIV7");
            // if (div4.style.display === "none") {
            //     div4.style.display = "block";
            // } else {
            //     div4.style.display = "none";
            // }
            // var x;
            // for (var i = 1; i <= 7; i++) {
            //     if (i == 7) {
            //         continue;
            //     } else {
            //         x = document.getElementById("myDIV" + i);
            //         x.style.display = "none";
            //     }
            // }
        }

        function myFunction1a() {
            var div1 = document.getElementById("myDIV1");

            if (div1.style.display === "none") {
                div1.style.display = "block";


            } else {
                div1.style.display = "none";
            }
            var x;
            for (var i = 1; i <= 7; i++) {
                if (i == 1) {
                    continue;
                } else {
                    x = document.getElementById("myDIV" + i);
                    x.style.display = "none";
                }
            }



        }

        function searchTrace(city, id) {


            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: "/lookforRemains/traces",
                data: {
                    "city": city
                },
                success: function (data) {
                    $("#" + id).empty();
                    console.log(id);
                    var html = "";
                    for (var i = 0; i < data.traces.length; i++) {
                        trace = data.traces[i];
                        console.log(trace.trace_name);
                        html += '<div class="portfolio-item joomla bootstrap col-xs-12 col-sm-4 col-md-3 remains">';
                        html += '<div class="recent-work-wrap">';
                        html += '<img class="img-responsive" src="';
                        html += 'images/remains/small/';
                        html += trace.trace_name + "2.jpg";
                        html += '" alt="">';
                        html += '<a href="javascript: return false;" onclick="showRemains(';
                        html += trace.trace_no;
                        html += ')">';

                        html += trace.trace_name;

                        html += '</a>';
                        html += '</div>';
                        html += '</div>';

                    }
                    $("#" + id).append(html);
                    var div1 = document.getElementById(id);

                    if (div1.style.display === "none") {
                        div1.style.display = "block";


                    } else {
                        div1.style.display = "none";
                    }
                    var x;
                    for (var i = 0; i <= 7; i++) {
                        if (i == city) {
                            continue;
                        } else {
                            x = document.getElementById("myDIV" + i);
                            x.style.display = "none";
                        }
                    }

                }
            });
        }

        function showRemains(trace) {


            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: "/lookforRemains/showRemains",
                data: {
                    "trace": trace
                },
                success: function (data) {
                    console.log(data);
                    console.log(data.traces[0].city_no);
                    var city = data.traces[0].city_no;
                    var trace = data.traces[0].trace_no;

                    console.log(trace);
                    location.href = "/showRemains?city=" + city + "&trace=" + trace
                }
            });

        }
    </script>
</body>

</html>