<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>人物故事 | 鄭成功</title>
    
    <!-- core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/icon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>

    <header id="header">

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img class="logo" src="images/logo.png" alt="logo">
                    </a>
                </div>

                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <!-- <li class="active"><a href="index.html">回首頁</a></li> -->
                        <!-- <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">  找尋遺跡 <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="blog-item.html">台北市</a></li>
                                <li><a href="pricing.html">新北市</a></li>
                                <li><a href="404.html">基隆市</a></li>
                                <li><a href="shortcodes.html">桃園市</a></li>
                                <li><a href="shortcodes.html">新竹縣</a></li>
                                <li><a href="shortcodes.html">新竹市</a></li>
                                <li><a href="shortcodes.html">苗栗縣</a></li>   
                            </ul>
                        </li> -->
                        <li>
                            <a href="/lookforRemains">找尋遺跡</a>
                        </li>
                        <li>
                            <a href="/activity">活動宣傳</a>
                        </li>
                        <li>
                            <a href="/peopleStory">人物故事</a>
                        </li>

                        <li>
                            <a href="/historicalSnapshots">歷史剪影</a>
                        </li>
                        <li>
                            <a href="/aboutus">關於我們</a>
                        </li>

                        <!-- <li><a href="blog.html">Blog</a></li> 
                        <li><a href="contact-us.html">Contact</a></li>                         -->
                    </ul>
                </div>
            </div>
            <!--/.container-->
        </nav>
        <!--/nav-->

    </header>
    <!--/header-->

    <section id="blog" class="container">
        <div class="center">
            <h2>人物故事</h2>
            <p class="lead">People Story</p>
        </div>

        <ul class="portfolio-filter text-center people">
            
            <a class="btn btn-default active" href="/peopleStory">鄭成功</a>
            <a class="btn btn-default" href="/yanJiayu">嚴家淦</a>
            <a class="btn btn-default" href="/jiangZhongzheng">蔣中正</a>
            <a class="btn btn-default" href="/zhengYongxi">鄭用錫</a>

           
        </ul><!--/#portfolio-filter-->

        <div class="blog">
            <div class="row">
                 <div class="col-md-12">
                    <div class="blog-item">
                        <div class="row">
                            <div class="col-xs-12 col-sm-8 blog-content people">
                                <h3>人物介紹</h3>
                                <p>
                                    鄭成功，乳名福松，原名森，字名儼，號大木。父親鄭芝龍（1600－1661）是一個海商兼海盜的人物，曾於1622年與顏思齊來過台灣北港，也和日本平戶有商業貿易往來，因此曾娶日本女子田川松為妻。
                                </p>
                                <p>
                                    鄭成功在1624年出生，並由母親田川氏獨力撫養至七歲，1630年鄭芝龍將他帶回南安教養，因受限於日本禁止女人離境的規定，故田川氏並未隨行，十五歲入南安縣為「秀才」，再經考試，為南安二十個「廩膳生」 之一，後拜浙江虞山大儒錢謙益 為師。所以鄭成功不但能詩、能文，也擅長書法。同時他又耳濡目染父親的各種軍事活動，周邊也圍繞著歷經海上風霜的鄭芝龍親信。十八歲時與董夫人結婚，而董夫人係明禮部侍郎董颺光之胞侄女。次年生長子鄭經（乳名錦），及長到南京入太學。
                                </p>
                                <p> 
                                    鄭成功的本名為鄭森，相傳是當時皇帝（隆武帝）見鄭森時，大為讚賞，稱讚他是「少年英俊，器宇非凡，將來一定是棟樑之材！」就賜鄭森姓朱名成功，而「朱」為當時的皇帝姓氏，因此人稱他為國姓爺。但後來人都只用了皇帝賜給他的名字，稱他「鄭成功」，卻很少有人稱呼他「朱成功」。
                                </p>

                                <h3>反清復明大業</h3>
                                <p>
                                    清軍乘勢南進包圍福建，於1646年八月將隆武帝捕擄，以授官 職為條件促鄭芝龍投降。雖經鄭成功反對，鄭芝龍於同年十一月答應投 降。但是清王朝背信反將鄭芝龍送往北京幽禁，其妻田川氏則受清軍凌辱而自盡。獲知此噩耗，鄭成功在孔子廟前燒卻象徵士大夫的儒巾及儒服，立誓曰：「即日起，決心不做讀書人，要做一個軍人，為君國及父母報仇」。得知隆武帝死亡的訊息，逃亡在廣東肇慶的桂王於1647年即位，並改國號為「永 曆」。是明王朝最後一位皇帝的永曆帝，被清軍追迫輾轉各地，1653年爵封鄭成功為「延平郡王」，於1661年亡故。明王朝壽終正寢之後，鄭成功及其族人仍繼續崇奉明朝的正朔「永曆」而不變，表示不承認異族滿清，立志「反清復明」。鄭成功後來顛覆荷蘭的台灣統治，遷移台灣，是為實現復興明王朝的計劃，結果給台灣帶來新的命運轉變。
                                </p>

                                <h3>登陸台灣</h3>
                                <p>
                                    成功轉戰中國各地，但是徒勞無功，終於1661年被迫陷入固守福建的廈門、金門兩島的窘況。此時，台灣的荷蘭聯合東印度公司通事何斌、避債逃到廈門，對鄭成功陳述台灣土地豊饒勸其進攻，並獻上海圖。鄭成功將金門及廈門的守備交託長男鄭經，以何斌為嚮導，親自率領四百餘船隻及兩萬五千名將兵，同年四月首先佔領澎湖島，繼而將目標指向台灣。對荷蘭人抱著憤懣，尤其是郭懷一事件後敵愾心加深的台灣移民 對鄭成功的軍隊表歡迎。鄭成功迴 避面臨海峽的遮蘭奢城，襲擊防備薄弱的「普羅民遮城」，輕易而得手。鄭軍更進一步包圍「熱蘭遮城」，因而荷蘭人籠城固守等待巴達維亞援軍。台灣長官一方面向巴達維亞求援，另一方面要求原住民支援。但是，由巴達維亞派來的援軍錯失時機，而原住民的支援尚未到達以前便被殲滅。結果，荷蘭於1662年二月向鄭成功投降，撤退至巴達維亞。由此荷蘭在台灣長達三十八年 的統治終告結束。
                                </p>

                                <h3>經營台灣</h3>
                                <p>
                                    鄭成功佔領赤嵌的「普羅民遮城」 之後，立即著手劃分行政區域。首先把台灣全島改稱為「東都」，將遭破壞的遮蘭奢城周圍之地命名安平鎮。赤嵌及其周圍，也即今日之台南市一 帶稱為承天府，北部設天興縣，南部 設萬年縣，並在澎湖島設安撫司，完成由一府二縣一安撫司的行政規劃。 又親自率領軍隊，往探原住民部落示威鎮壓。鄭成功以東都為明王朝的復興基地，並未僭越稱帝，僅停留於「藩主」的地位。荷蘭統治即將結束時，台灣的人口包括原住民與移民共約十萬有餘，其中移民據推測有二萬餘人。鄭成功的大軍及其家屬約三萬，可說是中國來台灣的最初的集体移民。由於人口急增，確保食糧成為焦眉之急。鄭成 功採取的對策，乃是將荷蘭聯合東印度公司所有的「王田」沒收，移作新 政權所有的「官田」。此外，對承天府與安平鎮以及天興縣與萬年縣的文武官員即除了配給官舍及兵舍所需之土地外，並按家屬多寡淮許其取得必要之土地，稱為「私田」或「文武官田」。至於駐在各地的部隊，在不侵犯原住民與移民所有土地的條 件下，淮予開墾土地，稱之為「營盤田」﹝屯田﹞。因而以南部為中心 的農地開拓一舉而擴大起來，尤其是大規模的「營盤田」多達四十幾所，食糧生產也因此而激增。這些農地開發與土地度，因開啟台灣的土地私有制度而引人注目。如此一來，鄭氏一族由從前的海上勢力伸張， 如今陸上也擁有其勢力了。 
                                </p>                
                            </div>
                            <div class="col-xs-12 col-sm-4 blog-content">
                                <a href="#"><img class="img-responsive img-blog" src="images/people/ZhengChenggong.png" width="100%" alt="" /></a>
                                <div class="entry-meta">
                                    <span id="publish_date">鄭成功</span>
                                    <!-- <span><i class="fa fa-user"></i> John Doe </span>
                                    <span><i class="fa fa-comment"></i> 2 Comments </span>
                                    <span><i class="fa fa-heart"></i> 56 Likes </span> -->
                                </div>
                            </div>
                        </div>    
                    </div><!--/.blog-item-->
                        
                    <!-- <ul class="pagination pagination-lg">
                        <li><a href="#"><i class="fa fa-long-arrow-left"></i>Previous Page</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">Next Page<i class="fa fa-long-arrow-right"></i></a></li>
                    </ul> --> <!--/.pagination-->
                </div><!--/.col-md-8-->

            </div><!--/.row-->
        </div>
    </section><!--/#blog-->    

    <footer id="footer" class="midnight-blue">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        &copy; 2018 國立臺北商業大學 資訊管理系
                    </div>
                    <div class="col-sm-6">
                        <ul class="pull-right">
                            <li>
                                <a href="/lookforRemains">找尋遺跡</a>
                            </li>
                            <li>
                                <a href="/activity">活動宣傳</a>
                            </li>
                            <li>
                                <a href="/peopleStory">人物故事</a>
                            </li>
    
                            <li>
                                <a href="/historicalSnapshots">歷史剪影</a>
                            </li>
                            <li>
                                <a href="/aboutus">關於我們</a>
                            </li>
                            <li>
                                <a href="#">回到頂部</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer><!--/#footer-->

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/wow.min.js"></script>
</body>
</html>