<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>人物故事 | 嚴家淦</title>

    <!-- core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/icon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head>
<!--/head-->

<body>

    <header id="header">

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img class="logo" src="images/logo.png" alt="logo">
                    </a>
                </div>

                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <!-- <li class="active"><a href="index.html">回首頁</a></li> -->
                        <!-- <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">  找尋遺跡 <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="blog-item.html">台北市</a></li>
                                <li><a href="pricing.html">新北市</a></li>
                                <li><a href="404.html">基隆市</a></li>
                                <li><a href="shortcodes.html">桃園市</a></li>
                                <li><a href="shortcodes.html">新竹縣</a></li>
                                <li><a href="shortcodes.html">新竹市</a></li>
                                <li><a href="shortcodes.html">苗栗縣</a></li>   
                            </ul>
                        </li> -->
                        <li>
                                <a href="/lookforRemains">找尋遺跡</a>
                            </li>
                            <li>
                                <a href="/activity">活動宣傳</a>
                            </li>
                            <li>
                                <a href="/peopleStory">人物故事</a>
                            </li>
    
                            <li>
                                <a href="/historicalSnapshots">歷史剪影</a>
                            </li>
                            <li>
                                <a href="/aboutus">關於我們</a>
                            </li>

                        <!-- <li><a href="blog.html">Blog</a></li> 
                        <li><a href="contact-us.html">Contact</a></li>                         -->
                    </ul>
                </div>
            </div>
            <!--/.container-->
        </nav>
        <!--/nav-->

    </header>
    <!--/header-->

    <section id="blog" class="container">
        <div class="center">
            <h2>人物故事</h2>
            <p class="lead">People Story</p>
        </div>

        <ul class="portfolio-filter text-center people">
            <a class="btn btn-default " href="/peopleStory">鄭成功</a>
            <a class="btn btn-default active" href="/yanJiayu">嚴家淦</a>
            <a class="btn btn-default" href="/jiangZhongzheng">蔣中正</a>
            <a class="btn btn-default" href="/zhengYongxi">鄭用錫</a>

        </ul>
        <!--/#portfolio-filter-->

        <div class="blog">
            <div class="row">
                <div class="col-md-12">
                    <div class="blog-item">
                        <div class="row">
                            <div class="col-xs-12 col-sm-8 blog-content">
                                <h3>人物介紹</h3>
                                <p>
                                    嚴家淦，字靜波，江蘇省吳縣（今蘇州市）人，歷任政府重要職務，為財經專家。乳名雨蓀，初名靜波，號蘭芬。中華民國政治人物，繼任第五任中華民國總統。曾做過經濟部長、財政部長、行政院長和副總統。此外還當過中華民國國軍退輔會主任委員。雖然嚴家淦繼任總統之位僅有三年，在位期間亦甚少行動，但在其他崗位上，創下顯赫的政績。其中留下最大貢獻的是確立新台幣政策、實施9年國民義務教育，讓台灣人可得到基本的教育，對台灣於之後發展水平取得顯著的提高打下重要的基礎。嚴家淦建議陳誠改革幣制，廢除舊台幣，發行新台幣，實行金圓券跟新台幣隔離，因此被經濟學家稱為「新台幣之父」。
                                </p>

                                <h3>來台前經歷</h3>
                                <p>
                                    1938年，任福建省政府建設廳長，致力整修公路與河道以使因為進口糧食的口岸被日軍佔領而混亂的省內交通得以繼續。次年任財政廳長，負責籌措戰時財政，取消70多種雜稅，改善省內財政，之後福建省每年預算平衡而無赤字發生，並為解決福建省糧食供應問題和因應法幣通膨問題首創「田賦徵實」制度，也就是不繳稅金改以繳納糧食的方式折抵，以避免農民在市場上受到物價波動損失或遭人囤積抬價。次年經由財政部在全國統一推動實施。1945年，出任戰時生產局採辦部長，辦理美國租借法案和中英、中加借款案。
                                </p>

                                <h3>財政改革</h3>
                                <p>
                                    嚴家淦鑑於當時臺灣財政混亂，宣布中央政府在財政整理期間，暫不劃分中央與地方收支，中央軍費並且按月撥發；另外專案辦理省內國防建設法，並暫准臺灣銀行發行臺幣。並先後劃分省與縣市的田賦收入為7與3之比，廢止日治時代的印花稅，降低筵席稅、實施新制印花稅，委託臺灣銀行在臺灣實行公庫制度，並逐步建立各鄉鎮的公庫網路。遂一手策劃發行新臺幣，其上司陳儀、陳誠，都很欣賞他辦事之能力。
                                    1949年6月15日，新臺幣正式發行，以4萬元舊臺幣換1元新臺幣，切斷臺灣與中國大陸財政聯繫，並且利用高利率政策吸收市場游資，有效降低通貨膨脹及物價混亂。12月7日，國民政府撤退來台。12月6日，台灣省政府委員兼民政廳廳長朱佛定，委員兼財政廳廳長嚴家淦，委員兼教育廳廳長陳雪屏，委員兼建設廳廳長楊家瑜，呈請辭職，朱佛定、嚴家淦、陳雪屏、楊家瑜均准免本兼各職。
                                </p>
                            </div>
                            <div class="col-xs-12 col-sm-4 blog-content">
                                <a href="#">
                                    <img class="img-responsive img-blog" src="images/people/YanJiayu.png" width="100%" alt="" />
                                </a>
                                <div class="entry-meta">
                                    <span id="publish_date">嚴家淦</span>
                                    <!-- <span><i class="fa fa-user"></i> John Doe </span>
                                    <span><i class="fa fa-comment"></i> 2 Comments </span>
                                    <span><i class="fa fa-heart"></i> 56 Likes </span> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/.blog-item-->

                    <!-- <ul class="pagination pagination-lg">
                        <li><a href="#"><i class="fa fa-long-arrow-left"></i>Previous Page</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">Next Page<i class="fa fa-long-arrow-right"></i></a></li>
                    </ul> -->
                    <!--/.pagination-->
                </div>
                <!--/.col-md-8-->

            </div>
            <!--/.row-->
        </div>
    </section>
    <!--/#blog-->

    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2018 國立臺北商業大學 資訊管理系
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                            <li>
                                    <a href="/lookforRemains">找尋遺跡</a>
                                </li>
                                <li>
                                    <a href="/activity">活動宣傳</a>
                                </li>
                                <li>
                                    <a href="/peopleStory">人物故事</a>
                                </li>
        
                                <li>
                                    <a href="/historicalSnapshots">歷史剪影</a>
                                </li>
                                <li>
                                    <a href="/aboutus">關於我們</a>
                                </li>
                        <li>
                            <a href="#">回到頂部</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!--/#footer-->

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/wow.min.js"></script>
</body>

</html>